html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
input,textarea{
  width: 100;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: #93f5f2;
  border: 4px solid black;
  resize: none;
}
/* div{
  justify-content: center;
} */
.contact{
  justify-content: center;
 
}